.block-form {
  position: relative;
}

/* .block-form--hero {} */

.block-form--middle {
  margin-bottom: 70px;
  padding: 0 var(--page-gap-sm);
}

.block-form--middle .form,
.block-form--middle .success-message {
  padding: 40px 28px 30px;
  color: #fff;
  background: var(--c-green-light) url(/images/form-middle-bg.svg) no-repeat 160% -100px/212px;
  border-radius: 10px;
  overflow: hidden;

  /* mask-image: radial-gradient(white, black); !* фикс для safari *! */
}

.block-form--middle .form * {
  position: relative;
  z-index: 2;
}

.block-form--middle .form::before,
.block-form--middle .success-message::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("/images/pattern-bg-rifle.png") no-repeat 75% 0;
}

.block-form--middle .form__title {
  margin-left: -28px;
  margin-right: -28px;
}
