.page-nav {
  width: 100%;
  height: 100%;
  animation: fade-in var(--duration) both;
}

.dialog-container.is-hidden .page-nav {
  animation: fade-out var(--duration) both;
}

.page-nav__body {
  padding-top: 14px;
}

.page-nav__btn-form {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  text-align: center;
}
