.socials-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials-list__item {}

.socials-list__link {}

.socials-list__link .icon {
  --size: 35px;

  display: inline-block;
  width: var(--size);
  height: var(--size);
  background-color: #000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.socials-list__link .icon--facebook {
  background-image: url("../../images/icon-facebook.svg");
}

.socials-list__link .icon--instagram {
  background-image: url("../../images/icon-instagram.svg");
}

.socials-list__link .icon--vk {
  background-image: url("../../images/icon-vk.svg");
}

.socials-list__link .icon--ok {
  background-image: url("../../images/icon-ok.svg");
}

.socials-list__link .icon--youtube {
  background-image: url("../../images/icon-youtube.svg");
}

.socials-list__link .icon--soc-name {
  background-image: url("../../images/icon-soc-name.svg");
}
