@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

/**
 * 1. Make the dialog container, and its child overlay spread across
 *    the entire window.
 */
.dialog-container,
.dialog-overlay {
  position: fixed; /* 1 */
  top: 0; /* 1 */
  right: 0; /* 1 */
  bottom: 0; /* 1 */
  left: 0; /* 1 */
}

/**
 * 1. Make sure the dialog container and all its descendants sits on
 *    top of the rest of the page.
 * 2. Make the dialog container a flex container to easily center the
 *    dialog.
 */
.dialog-container {
  z-index: 9999; /* 1 */
  overflow: auto;
}

/**
 * 1. Make sure the dialog container and all its descendants are not
 *    visible and not focusable when it is hidden.
 */
.dialog-container[aria-hidden='true'] {
  display: none; /* 1 */
}

/**
 * 1. Make the overlay look like an overlay.
 */
.dialog-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  animation: fade-in var(--duration) both;
}

.dialog-container--menu .dialog-overlay {
  background-color: var(--c-blue);
}

.dialog-container.is-hidden .dialog-overlay {
  animation: fade-out var(--duration) both;
}

/**
 * 1. Vertically and horizontally center the dialog in the page.
 * 2. Make sure the dialog sits on top of the overlay.
 * 3. Make sure the dialog has an opaque background.
 */
.dialog-content {
  /* margin: auto; !* 1 *! */
  position: relative; /* 2 */
  z-index: 2; /* 2 */
}

.dialog-container--menu .dialog-content {
  padding: var(--page-gap);
}

.dialog-btn-close {
  --size: 50px;

  position: fixed;
  top: 31px;
  right: calc(var(--page-gap) + 1px);
  width: var(--size);
  height: var(--size);
  background-color: var(--c-green-light);
  mask: url("/images/mask-btn-menu.svg") no-repeat center;
  border-radius: 50%;
  z-index: 10;
}

.dialog-btn-close::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url("/images/icon-btn-close.svg") no-repeat 18px 17px/12px;
}

.dialog-container--modal .dialog-btn-close {
  background-color: var(--c-red);
}

.dialog-container.is-hidden .dialog-btn-close {
  animation: fade-out var(--duration) both;
}

.dialog-title {
  display: none;
}

/* noinspection CssInvalidMediaFeature */
@media (--tablet-lg) {
  .dialog-container--modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dialog-overlay {
    backdrop-filter: blur(10px);
  }

  .dialog-content {
    width: 610px;
    height: auto;
    max-height: 80vh;
    margin: auto;
    border-radius: 10px;
    overflow: auto;
  }
}
