.simplebar-content-wrapper::-webkit-scrollbar {
  display: none;
}

.simplebar-container .simplebar-track.simplebar-horizontal {
  height: 2px;
  margin: 0 var(--page-gap);
  background-color: var(--c-blue-dark);
  border-radius: 10px;
}

.simplebar-container .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  top: 0;
  height: 100%;
}

.simplebar-container .simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
  left: 0;
  right: 0;
  background-color: var(--c-red);
  border-radius: 10px;
  opacity: 1;
}

.dialog-container .simplebar-track.simplebar-vertical {
  top: 50%;
  right: 24px;
  width: 5px;
  height: 100%;
  max-height: 520px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  transform: translateY(-50%) translateZ(0.001px);
}

.dialog-container .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--c-blue-dark);
  border-radius: 10px;
  opacity: 1;
}
