.map-directions {
  position: relative;
  margin: 0 calc(var(--page-gap-sm) * -1);
  padding: 10px var(--page-gap);
  background-color: var(--c-green-light);
  border-radius: 10px;
  overflow: hidden;
}

.map-directions__title {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  color: var(--c-blue);
  font-size: 10px;
  text-align: center;
}

.map-directions__list {
  display: grid;
  grid-auto-flow: column;
  gap: 18px;
  justify-content: center;
}

.map-directions .bg-rifle {
  --bg-pos: -300px -180px;

  top: 0;
  left: 0;
}

/* noinspection CssInvalidMediaFeature */
@media (--desktop) {
  .map-directions {
    background-color: unset;
  }

  .map-directions .bg-rifle {
    display: none;
  }

  .map-directions__title {
    display: none;
  }

  .map-directions__list {
    gap: 14px;
    justify-content: start;
  }

  .map-directions__item {
    padding: 25px;
    background-color: var(--c-green-light);
    border-radius: 10px;
  }
}
