.modal {
  animation: fade-in var(--duration) both;
}

.dialog-container.is-hidden .modal {
  animation: fade-out var(--duration) both;
}

.modal__body {
  min-height: 100vh;
}

.modal__wrapper {
  position: relative;
  min-height: 100vh;
  padding: 75px 35px 0;
}

.modal-service .modal__wrapper {
  display: flex;
  flex-direction: column;
}

.modal-price .modal__wrapper {
  padding: 40px 15px;
}

.title-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -35px 60px;
}

.title-wrapper::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-53%);
  height: 200px;
  background-color: var(--c-green-light);
  mask: url("/images/pattern-modal-title.svg") no-repeat center/auto 190%;
}

.modal-price .title-wrapper {
  margin: 0 -15px 20px;
}

.modal-price .title-wrapper::before {
  height: 170px;
  background-color: var(--bg-color);
}

.title-wrapper .title {
  position: relative;
  padding: 0 50px 0 35px;
  color: var(--c-blue-dark);
  font-size: 24px;
  z-index: 2;
}

.modal-service {
  background-color: var(--c-blue);
}

.modal-service__media {
  margin-bottom: 16px;
  border-radius: 10px;
  overflow: hidden;
}

.modal-service__media > * {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.modal-service__media > *:not(:root):fullscreen {
  object-fit: contain;
}

.modal-service__describe {
  flex-grow: 1;
  margin-bottom: 16px;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  color: #fff;
}

.modal-service__contacts {
  margin: 0 -25px 20px;
}

.modal-price {
  background-color: var(--c-green-light);
}

.modal-price .modal__title {
  margin-bottom: 95px;
  padding: 5px 20px 0;
  font-size: 34px;
  color: var(--c-blue-dark);
}

.modal-price .modal__contacts {
  margin: 0 -5px;
}
