.price-item {
  position: relative;
  margin-bottom: 80px;
  color: var(--c-blue-dark);
  font-size: 12px;
}

.price-item:last-of-type {
  margin-bottom: 20px;
}

.price-item__title {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 32px;
  text-align: center;
  min-height: 2em;
}

.title-wrapper .price-item__title {
  position: relative;
  z-index: 2;
}

.price-item__body {
  position: relative;
  padding: 12px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 2;
}

.price-item.is-popular .price-item__body::before {
  content: 'Самый популярный';
  position: absolute;
  top: -36px;
  right: -20px;
  display: flex;
  align-items: center;
  width: 86px;
  height: 86px;
  color: #fff;
  background-color: var(--c-red);
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  z-index: 10;
}

.price-item__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--c-blue-dark);
}

.price-item__price .price-old {
  font-size: 24px;
  text-decoration: line-through;
}

.price-item__price .price {
  color: var(--c-red);
  font-size: 54px;
}

.price-item__price .price-old,
.price-item__price .price {
  line-height: 0.9;
}

.price-item__list {
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
}

.price-item__list li {
  display: flex;
  justify-content: space-between;
}

.price-item__list .name {
  display: inline-flex;
  align-items: center;
}

.price-item__list .name::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  background: no-repeat center/contain;
}

.price-item__list .name--balls::before {
  background-image: url("/images/icon-balls.svg");
}

.price-item__list .name--time::before {
  background-image: url("/images/icon-time.svg");
}

.price-item__sublist-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
  font-size: 24px;
  text-transform: lowercase;
}

.price-item__sublist-title::before,
.price-item__sublist-title::after {
  content: '';
  width: 34px;
  height: 1px;
  background-color: var(--c-blue-dark);
  transform: translateY(2px);
}

.price-item__sublist-title--lg {
  display: none;
}

.price-item__sublist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 12px;
  border: 1px solid var(--c-blue-dark);
  border-radius: 4px;
}

.price-item__sublist li {
  position: relative;
  display: grid;
  justify-items: center;
  gap: 5px;
}

.price-item__sublist li::before {
  content: attr(data-count);
  position: absolute;
  left: 0;
  top: -10px;
  color: var(--c-red);
  font-size: 10px;
}

.price-item__sublist li .icon {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.price-item__sublist li .icon--grenade {
  background-image: url("/images/icon-hand-grenade.svg");
}

.price-item__sublist li .icon--target {
  background-image: url("/images/icon-target.svg");
}

.price-item__sublist li .icon--uniform {
  background-image: url("/images/icon-uniform.svg");
}

.price-item__sublist li .name {
  white-space: nowrap;
}

.price-item__sublist li .price {
  font-size: 16px;
}

.currency {
  display: inline-block;
  background-color: currentColor;
  mask: url("/images/icon-currency.svg") no-repeat center/contain;
}

.price-item__sublist .currency {
  width: 10px;
  height: 10px;
}

.price-item__price .price-old .currency {
  width: 14px;
  height: 15px;
}

.price-item__price .price .currency {
  width: 30px;
  height: 34px;
}

.price-item .bg-rifle {
  --rotate: -8deg;
}

.price-item .bg-rifle::after {
  left: 0;
  width: 120%;
  height: 120%;
  background-size: 660px;
}

.price-item > .bg-rifle {
  --bg-pos: -115px -12px;

  top: -90px;
  right: -15px;
  width: 100vw;
  height: 130%;
  z-index: 1;
}

.price-item__body > .bg-rifle {
  --bg-pos: -130px -166px;

  top: 0;
  left: 0;
}

.price-item__body > .bg-rifle::after {
  top: -15px;
}

.price-item__body > *:not(.bg-rifle) {
  position: relative;
  z-index: 2;
}

/* noinspection CssInvalidMediaFeature */
@media (--mobile-sm) {
  .price-item > .bg-rifle {
    --bg-pos: -115px 10px;
  }

  .price-item__body > .bg-rifle {
    --bg-pos: -130px -154px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media (--desktop) {
  .price-item > .bg-rifle {
    --bg-pos: -115px -10px;

    top: -260px;
    left: 0;
  }

  .price-item > .bg-rifle::after {
    background-size: 800px;
  }

  .price-item__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'price extra'
      'include extra';
    align-items: center;
    gap: 18px;
  }

  .price-item__body .bg-rifle {
    display: none;
  }

  .price-item__price {
    grid-area: price;
    margin-bottom: 0;
  }

  .price-item__list {
    grid-area: include;
    margin-bottom: 0;
  }

  .price-item__list .value {
    margin-left: 25px;
    text-align: right;
  }

  .price-item__extra-wrapper {
    grid-area: extra;
    padding: 14px 20px;
    border: 1px solid #000;
    border-radius: 4px;
  }

  .price-item__sublist-title::before,
  .price-item__sublist-title::after {
    content: none;
  }

  .price-item__sublist-title {
    display: none;
  }

  .price-item__sublist-title--lg {
    display: block;
  }

  .price-item__sublist {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0;
    border: 0;
  }

  .price-item__sublist li {
    grid-template-columns: auto auto 1fr;
    align-items: center;
  }

  .price-item__sublist li::before {
    left: -15px;
  }

  .price-item__sublist li .icon {
    width: 11px;
    height: 11px;
  }

  .price-item__sublist li .icon--grenade {
    background-image: url("/images/icon-hand-grenade-bold.svg");
  }

  .price-item__sublist li .icon--target {
    background-image: url("/images/icon-target-bold.svg");
  }

  .price-item__sublist li .icon--uniform {
    background-image: url("/images/icon-uniform-bold.svg");
  }

  .price-item__sublist li .price {
    justify-self: end;
  }
}
