.block-hero {
  position: relative;
}

.block-hero__top-pattern {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 160px;
  background: linear-gradient(174deg, #000 -60%, rgba(0, 0, 0, 0) 60%);
  z-index: 5;
}

.block-hero__top-pattern::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 68px;
  background:
    image-set(
      url("/images/pattern-header-green.png") 1x,
      url("/images/pattern-header-green@2x.png") 2x
    ) round left top/cover;
}

.block-hero__bottom-pattern {
  position: absolute;
  bottom: -5px;
  right: 0;
  left: 0;
  height: 110px;
  background:
    image-set(
      url("/images/pattern-hero-white.png") 1x,
      url("/images/pattern-hero-white@2x.png") 2x
    ) round left bottom/auto 110px;
  z-index: 5;
}

/* noinspection CssInvalidMediaFeature */
@media (--tablet-lg) {
  .block-hero {
    background: #daf530 image-set(url("/images/pattern-page-bg.png") 1x, url("/images/pattern-page-bg@2x.png") 2x) center/16px;
    padding-bottom: 160px;
  }

  .block-hero__container {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 100px;
    padding-left: 60px;
    padding-right: 60px;
    z-index: 10;
  }

  .block-hero__top-pattern {
    top: -20px;
    width: 100%;
    height: 100%;
    background-image: url("/images/pattern-bg-rifle-large.png");
    background-repeat: no-repeat;
    background-size: 1590px;
    background-position: -800px -150px;
    opacity: 0.5;
    transform: scaleX(-1);
    overflow: hidden;
  }

  .block-hero__top-pattern::before {
    width: 100%;
    height: 100%;
    background-image: url("/images/pattern-bg-rifle-large.png");
    background-repeat: no-repeat;
    background-size: 1590px;
    background-position: -830px -130px;
    transform: scaleX(-1) rotate(-10deg);
  }

  .block-hero__bottom-pattern {
    bottom: -60px;
    height: 360px;
    background: #fff image-set(url("/images/pattern-page-bg.png") 1x, url("/images/pattern-page-bg@2x.png") 2x) center/16px;
    mask: url("/images/pattern-modal-title.svg") no-repeat -2200px -510px/5000px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media (--desktop-lg) {
  .block-hero__bottom-pattern {
    mask-position: -1900px -510px;
  }
}
