/* .hero-video {} */

.hero-video__body {
  position: relative;
}

.hero-video__top {
  display: none;
}

.hero-video__header {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  padding: 10px 0 100px 20px;
  color: #fff;
  line-height: 0.85;
  z-index: 2;
}

.hero-video__header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero-video__header::after {
  content: '';
  position: absolute;
  top: -40px;
  right: 0;
  left: 0;
  height: 40px;
  background:
    image-set(
      url("/images/pattern-hero-black.png") 1x,
      url("/images/pattern-hero-black@2x.png") 2x
    ) round no-repeat center top/auto 40px;

  /* backdrop-filter: blur(5px); */
}

.hero-video__header-container {
  position: relative;
  display: grid;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.hero-video__founder-name {
  font-size: 12px;
}

.hero-video__title {
  font-size: 20px;
  font-weight: 400;
}

.hero-video__btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;

  /* TODO: Удалить когда будет сброс дефолтных стилей */
  background-color: transparent;
}

.hero-video__icon {
  --size: 56px;

  position: relative;
  grid-row: 1/3;
  grid-column: 2/3;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  z-index: 10;
}

.hero-video__icon .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--c-red);
  mask: url("/images/mask-btn-youtube.svg") no-repeat center;
}

.hero-video__icon::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 120px;
  height: 200px;
  background-color: var(--c-red);
  mask:
    image-set(
      url("/images/btn-youtube-splash--original.png") 1x,
      url("/images/btn-youtube-splash@2x--original.png") 2x
    ) no-repeat right center/contain;
}

.hero-video__icon::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url("/images/icon-play.svg") no-repeat 56% 52%/18px;
  z-index: 2;
}

.hero-video__icon .mask,
.hero-video__icon::before {
  transition: background-color var(--duration);
}

.hero-video__btn:hover + .hero-video__icon .mask,
.hero-video__btn:hover + .hero-video__icon::before {
  background-color: var(--c-blue);
}

.hero-video__container {
  --ratio: calc(16 / 9 * 100%); /* aspect-ratio = height / width * 100% */

  position: relative;
  padding-top: var(--ratio);
  overflow: hidden;
}

.hero-video__container video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-video__container video.hero-video__video-fill {
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  filter: blur(20px);
  z-index: 0;
}

/* noinspection CssInvalidMediaFeature */
@media (--tablet-lg) {
  .hero-video {
    position: relative;
    width: 414px;
    transform: rotate(4deg);
  }

  .hero-video::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 136px;
    height: 544px;
    background: url("/images/bg-brush.svg") no-repeat center/contain;
  }

  .hero-video__body {
    mask: url("/images/video-mask.svg") no-repeat center/cover;
  }

  .hero-video__body::before {
    --gap: 10px;

    content: '';
    position: absolute;
    top: 20px;
    right: calc(var(--gap) / 2);
    left: calc(var(--gap) / 2);
    width: calc(100% - var(--gap));
    height: 150px;
    background: linear-gradient(182deg, #000 14%, rgba(0, 0, 0, 0) 72%);
    z-index: 2;
  }

  .hero-video__top {
    position: absolute;
    top: 64px;
    right: 50px;
    left: 65px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      'avatar account icon'
      'avatar name icon';
    column-gap: 10px;
    color: #fff;
    font-size: 12px;
    font-style: italic;
    transform: rotate(3deg) translateZ(0.01px);
    z-index: 2;
  }

  .hero-video__top .avatar {
    grid-area: avatar;
    width: 40px;
    height: 40px;
    background: url("/images/avatar-instagram.jpg") no-repeat center/44px;
    border-radius: 50%;
  }

  .hero-video__top .account-name {
    grid-area: account;
    font-size: 14px;
    font-weight: 500;
  }

  .hero-video__top .name {
    grid-area: name;
  }

  .hero-video__top .icon {
    grid-area: icon;
    width: 30px;
    height: 30px;
    background: url("/images/icon-instagram.svg") no-repeat center/cover;
  }

  .hero-video__header {
    bottom: 0;
    transform: rotate(4deg);
  }

  .hero-video__header::before,
  .hero-video__header::after {
    left: 5px;
  }

  .hero-video__header-container {
    gap: 5px;
    justify-content: start;
    padding: 0 20px;
  }

  .hero-video__title {
    max-width: 210px;
    font-size: 26px;
  }

  .hero-video__container {
    --ratio: calc(692 / 414 * 100%);
  }

  .hero-video__container video {
    --gap: 4px;

    top: calc(var(--gap) / 2);
    right: calc(var(--gap) / 2);
    bottom: calc(var(--gap) / 2);
    left: calc(var(--gap) / 2);
    width: calc(100% - var(--gap));
    height: calc(100% - var(--gap));
    object-fit: cover;
  }

  .hero-video__icon {
    --size: 72px;
  }

  .hero-video__icon::before {
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 200px;
    mask: url("/images/btn-bg-splash.svg") no-repeat center/135px;
  }
}
