.block-service {
  position: relative;
  padding-top: 60px;
  background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.block-service .wrapper {
  position: relative;
  z-index: 2;
}

.block-service .block__title {
  margin-bottom: 20px;
  color: var(--c-blue);
  font-size: 52px;
  letter-spacing: -0.03em;
  text-align: left;
}

.block-service .bg-rifle {
  --bg-pos: -80px 0;
  --rotate: -8deg;

  top: 0;
}

.block-service .bg-rifle::after {
  width: 140%;
  height: 400px;
}

/* noinspection CssInvalidMediaFeature */
@media (--tablet-lg) {
  .block-service {
    padding-top: 0;
    padding-bottom: 150px;
    background: unset;
    z-index: 5;
    overflow: hidden;
  }

  .block-service::before {
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 100%;
    background: image-set(url("/images/pattern-page-bg.png") 1x, url("/images/pattern-page-bg@2x.png") 2x) center/16px;
  }

  .block-service::after {
    content: 'ПЕЙНТБОЛ';
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    color: var(--c-blue);
    font-family: var(--font-title);
    font-size: 220px;
    text-align: center;
    transform: rotate(-4deg);
    opacity: 0.1;
  }

  .block-service .bg-rifle {
    display: none;
  }
}
