.service-carousel {
  display: grid;
  grid-auto-flow: column;
  padding-top: 20px;
  padding-bottom: 60px;
}

.service-carousel.glide__slides {
  padding-right: var(--page-gap);
  padding-left: var(--page-gap);
}

.service-carousel__item {
  flex-shrink: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.service-carousel__item:first-child {
  margin-left: 0;
  padding-left: var(--page-gap);
}

.service-carousel__item:last-child {
  margin-right: 0;
  padding-right: var(--page-gap);
}

.service-carousel__item.glide__slide {
  margin: 0;
  padding: 0;
}
