.banner-price {
  position: relative;
  color: #fff;
  text-align: center;
}

.banner-price .bg-rifle--top {
  --bg-pos: 10px -10px;

  top: -100px;
  height: 120px;
}

.banner-price .bg-rifle--bottom {
  --bg-pos: -120px 240px;
}

.banner-price .bg-rifle--bottom::after {
  width: 140%;
}

.banner-price__content {
  --margin: calc(var(--page-gap) * -1);

  position: relative;
  margin: 0 var(--margin);
  z-index: 1;
}

.banner-price__content-wrapper {
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: var(--c-blue);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
}

.banner-price__title {
  margin-bottom: 10px;
  font-size: 38px;
}

.banner-price__text {
  display: inline-block;
  margin-bottom: 16px;
  padding: 0 var(--page-gap);
  text-align: center;
}

.banner-price__btn {
  padding-left: 48px;
  padding-right: 48px;
  font-size: 18px;
}

.banner-price__btn.btn--red:hover {
  color: var(--c-blue);
  background-color: #fff;
}

.banner-price__image-inner {
  display: none;
}

.banner-price__image {
  position: relative;
  width: calc(100% + (var(--page-gap) * 2));
  height: 240px;
  margin: 0 var(--no-page-gap);
  background:
    image-set(
      url("/images/price-image.png") 1x,
      url("/images/price-image@2x.png") 2x
    )
    no-repeat center top/auto 280px;
}

.banner-price__patter-top,
.banner-price__patter-bottom {
  position: absolute;
  left: 0;
  right: 0;
  height: 150px;
  background-image: url("/images/pattern-price.svg");
  background-repeat: no-repeat;
}

.banner-price__patter-top {
  top: -66px;
  background-position-x: center;
  background-size: 111%;
}

.banner-price__patter-bottom {
  bottom: -10px;
  background-position-x: -290px;
  background-position-y: bottom;
  background-size: 550px;
}

/* noinspection CssInvalidMediaFeature */
@media (--mobile-sm) {
  .banner-price__patter-top {
    background-position-y: -10px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media (--tablet-lg) {
  .banner-price {
    margin-bottom: 70px;
    overflow: hidden;
  }

  .banner-price::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: image-set(url("/images/pattern-page-bg.png") 1x, url("/images/pattern-page-bg@2x.png") 2x) center/16px;
  }

  .banner-price::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  }

  .banner-price__container {
    position: relative;
    max-width: 100%;
    padding: 0;
    z-index: 1;
  }

  .banner-price__content {
    padding: 75px 0;
    overflow: hidden;
  }

  .banner-price__text {
    max-width: 516px;
    margin-bottom: 22px;
    padding: 0;
    font-size: 24px;
    text-align: left;
  }

  .banner-price__text br {
    display: none;
  }

  .banner-price__btn {
    padding: 20px 65px;
  }

  .banner-price__patter-top,
  .banner-price__patter-bottom {
    height: 500px;
    background-image: url("/images/pattern-price--large.svg");
    background-size: 1752px;
  }

  .banner-price__patter-top {
    top: 0;
    background-position-x: -200px;
    background-position-y: 0;

    /* transform: scaleX(-1) rotate(-8deg) translateZ(0.01px); */
  }

  .banner-price__patter-bottom {
    bottom: 18px;
    background-position-x: -660px;
    background-position-y: 0;
    transform: scale(-1);
  }

  .banner-price__content-wrapper {
    position: relative;
    display: grid;
    justify-items: start;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50%;
    clip-path: none;
    overflow: hidden;
    z-index: 5;
  }

  .banner-price__title {
    font-size: 70px;
  }

  .banner-price__image {
    display: none;
  }

  .banner-price__image-inner {
    --width: 588px;
    --height: 431px;

    position: absolute;
    top: calc(52% - (var(--height) / 2));
    left: calc(50% - var(--width));
    display: block;
    width: var(--width);
    height: var(--height);
    background:
      image-set(
        url("/images/price-image--large.png") 1x,
        url("/images/price-image--large@2x.png") 2x
      )
      no-repeat center/contain;
    clip-path: polygon(100% 0, 100% 25%, 100% 86%, 0 86%, 0% 35%, 0 0);
    z-index: 2;
  }

  .banner-price .bg-rifle--top,
  .banner-price .bg-rifle--bottom {
    display: none;
  }
}
