.carousel-controllers {
  display: none;
}

.carousel-controllers__btn,
.carousel-controllers__btn .icon {
  transition: background-color var(--duration);
}

.carousel-controllers__btn {
  --bg-color: var(--c-green-light);
  --icon-color: var(--c-blue);

  width: 54px;
  height: 54px;
  background-color: var(--bg-color);
  border-radius: 50%;
  cursor: pointer;
}

.carousel-controllers__btn--prev {
  transform: scaleX(-1);
}

.carousel-controllers__btn:hover,
.carousel-controllers__btn:focus {
  --bg-color: var(--c-blue);
  --icon-color: #fff;
}

.carousel-controllers__btn .icon {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--icon-color);
  mask-image:
    image-set(
      url("/images/icon-arrow.png") 1x,
      url("/images/icon-arrow@2x.png") 2x,
      url("/images/icon-arrow@4x.png") 4x
    );
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 25px;
}

/* noinspection CssInvalidMediaFeature */
@media (--tablet-lg) {
  .carousel-controllers__controllers {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
  }
}
