.socials-list {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* .socials-list__item {} */

/* .socials-list__link {} */

.socials-list__link .icon {
  --size: 35px;

  display: inline-block;
  width: var(--size);
  height: var(--size);
  background-color: var(--c-blue);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  border-radius: 50%;
}

.socials-list__link .icon--facebook {
  mask-image: url("/images/icon-facebook.svg");
}

.socials-list__link .icon--instagram {
  mask-image: url("/images/icon-instagram-v2.svg");
}

.socials-list__link .icon--vk {
  mask-image: url("/images/icon-vk.svg");
}

.socials-list__link .icon--ok {
  mask-image: url("/images/icon-ok.svg");
}

.socials-list__link .icon--youtube {
  mask-image: url("/images/icon-youtube.svg");
}

.socials-list__link .icon--soc-name {
  mask-image: url("/images/icon-tiktok-v2.svg");
}
