.sticky-contacts {
  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 20px;
  z-index: 80;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  opacity: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transform: none;
  visibility: visible;
  transition-property: opacity, transform, visibility;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.sticky-contacts.is-hide {
  opacity: 0;
  visibility: hidden;
  transform: translateY(100px);
}

.sticky-contacts__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.sticky-contacts__link {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 14px;
}

.sticky-contacts__link:hover {
  color: #fff;
  background-color: var(--c-red);
}

.sticky-contacts__link--wa::before {
  content: '';
  width: 20px;
  height: 20px;
  background: url("/images/icon-wa.svg") no-repeat center/20px;
}
