.sticky-contacts {
  position: fixed;
  left: var(--page-gap);
  right: var(--page-gap);
  bottom: 20px;
  z-index: 500;
  background-color: var(--c-yellow);
  border-radius: 10px;
  opacity: 1;
  transform: none;
  visibility: visible;
  transition-property: opacity, transform, visibility;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.sticky-contacts::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 1px;
  height: 25px;
  background-color: #252525;
  border-radius: 10px;
  opacity: 0.2;
}

.sticky-contacts.is-hide {
  opacity: 0;
  visibility: hidden;
  transform: translateY(100px);
}

.sticky-contacts__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky-contacts__item {
  flex: 1 0 50%;
  text-align: center;
}
