body {
  --page-gap: 20px;
  --no-page-gap: calc(var(--page-gap) * -1);
  --page-gap-sm: 10px;
  --duration: 0.3s;
  --page-max-width: 1240px;

  /* fonts */
  --font-main: "Guerrilla", sans-serif;
  --font-title: "Edo", sans-serif;

  /* colors */
  --c-yellow: #fff500;
  --c-blue-dark: #304477;
  --c-blue: #3c72ff;
  --c-red: #fe4c4c;
  --c-green-light: #daf530;
  --c-green: #12bc53;
}
