.page-btn {
  --size: 40px;
  --top: calc(var(--pd-top, 18px) + ((88 - var(--size)) / 2));

  position: fixed;
  top: var(--top);
  right: var(--page-gap);
  z-index: 100;
  width: var(--size);
  height: var(--size);
  background-color: #fff500;
  border-radius: 50%;
}

.page-btn--menu {}

.page-btn--close {
  background-color: #f00;
}
