.page-header {
  position: relative;
  background-color: var(--c-green-light);
}

.page-header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:
    image-set(
      url("/images/pattern-paintball-shooting-airsoft-games-milsim.png") 1x,
      url("/images/pattern-paintball-shooting-airsoft-games-milsim@2x.png") 2x
    ) no-repeat center 0/cover;
}

.page-header__head {
  --pd-top: 18px;

  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.page-header__head.is-fixed {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0) 95%);
}

.page-header__head.is-fixed .page-logo {
  opacity: 0;
  visibility: hidden;
}

.page-header__head .contacts {
  display: none;
}

/* .page-logo {} */

/* noinspection CssInvalidMediaFeature */
@media (--desktop) {
  .page-header {
    background: #daf530 image-set(url("/images/pattern-page-bg.png") 1x, url("/images/pattern-page-bg@2x.png") 2x) center/16px;
  }

  .page-header::before {
    background: #fff image-set(url("/images/pattern-page-bg.png") 1x, url("/images/pattern-page-bg@2x.png") 2x) center/16px;
    mask: url("/images/pattern-modal-title.svg") no-repeat -1100px -1500px/5000px;
  }

  .page-header__head {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .page-header__head::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    background-color: #fff;
    transform: translateX(-50%);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
    opacity: 0;
  }

  .page-header__head.is-fixed {
    padding-top: 0;
    padding-bottom: 0;
    background: #fff;
  }

  .page-header__head.is-fixed::before {
    opacity: 1;
  }

  .page-header__head.is-fixed .page-logo {
    opacity: 1;
    visibility: visible;
    transform-origin: 0;
    transform: scale(0.64062);
  }

  .page-logo {
    width: 256px;
    height: auto;
  }

  .page-header__head .contacts {
    display: grid;
  }

  .header-nav,
  .page-header__head .contacts {
    transform: translateY(10px);
  }

  .page-header__head.is-fixed .header-nav,
  .page-header__head.is-fixed .contacts {
    transform: translateY(0);
  }
}
