.short-nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.short-nav__list {
  display: grid;
  grid-auto-flow: column;
  gap: 14px;
  padding-bottom: 10px;
}

.short-nav__item {
  position: relative;
  display: grid;
  gap: 10px;
  justify-items: center;
  text-align: center;
}

.short-nav__item:first-child {
  padding-left: var(--page-gap);
}

.short-nav__item:last-child {
  padding-right: var(--page-gap);
}

.short-nav__icon {
  --size: 50px;
  --bg-color: var(--c-blue-dark);

  /* --bg-color: #702dff; */

  width: var(--size);
  height: var(--size);
  background-color: var(--bg-color);
  background-image: url("/images/icon-tag.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  border-radius: 50%;
}

.short-nav__item:nth-child(4n-3) .short-nav__icon {
  --bg-color: #00a878;
}

.short-nav__item:nth-child(4n-2) .short-nav__icon {
  --bg-color: var(--c-blue-dark);
}

.short-nav__item:nth-child(4n-1) .short-nav__icon {
  --bg-color: #fe5e41;
}

.short-nav__item:nth-child(4n) .short-nav__icon {
  --bg-color: var(--c-blue);
}

.short-nav__icon--wa {
  background-image: url("/images/icon-wa.svg");
  background-size: 28px;
}

.short-nav__icon--phone {
  background-image: url("/images/icon-phone.svg");
}

.short-nav__icon--map {
  background-image: url("/images/icon-marker.svg");
  background-size: 18px;
}

.short-nav__icon--service {
  background-image: url("/images/icon-service.svg");
}

.short-nav__icon--mail {
  background-image: url("/images/icon-mail.svg");
}

.short-nav__icon--instagram {
  background-image: url("/images/icon-instagram.svg");
}

.short-nav__text {
  color: var(--c-blue-dark);
  font-size: 10px;
  white-space: nowrap;
}

.short-nav__link {
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.short-nav__item:first-child .short-nav__link {
  left: var(--page-gap);
}

.short-nav__item:last-child .short-nav__link {
  right: var(--page-gap);
}

/* noinspection CssInvalidMediaFeature */
@media (--tablet-lg) {
  .short-nav {
    display: none;
  }
}
