.short-nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.short-nav__list {
  display: grid;
  grid-auto-flow: column;
  gap: 14px;
  padding-bottom: 10px;
}

.short-nav__item {
  position: relative;
  display: grid;
  gap: 10px;
  justify-items: center;
  text-align: center;
}

.short-nav__item:first-child {
  padding-left: var(--page-gap);
}

.short-nav__item:last-child {
  padding-right: var(--page-gap);
}

.short-nav__icon {
  --size: 50px;

  width: var(--size);
  height: var(--size);
  background-color: #702dff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  border-radius: 50%;
}

.short-nav__icon--wa {
  background-color: #00a878;
  background-image: url("/images/icon-wa.svg");
  background-size: 28px;
}

.short-nav__icon--phone {
  background-color: var(--c-blue-dark);
  background-image: url("/images/icon-phone.svg");
}

.short-nav__icon--map {
  background-color: #fe5e41;
  background-image: url("/images/icon-marker.svg");
  background-size: 18px;
}

.short-nav__icon--price {
  background-color: #3c72ff;
  background-image: url("/images/icon-tag.svg");
}

.short-nav__text {
  color: var(--c-blue-dark);
  font-size: 10px;
  white-space: nowrap;
}

.short-nav__link {
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.short-nav__item:first-child .short-nav__link {
  left: var(--page-gap);
}

.short-nav__item:last-child .short-nav__link {
  right: var(--page-gap);
}

.short-nav .simplebar-container .simplebar-track {
  height: 2px;
  margin: 0 var(--page-gap);
  background-color: var(--c-blue-dark);
  border-radius: 10px;
}

.short-nav .simplebar-container .simplebar-scrollbar {
  top: 0;
  height: 100%;
}

.short-nav .simplebar-container .simplebar-scrollbar::before {
  left: 0;
  right: 0;
  background-color: var(--c-red);
  border-radius: 10px;
  opacity: 1;
}

/* noinspection CssInvalidMediaFeature */
@media (--desktop) {
  .short-nav {
    display: none;
  }
}
